<footer>
    <div>
        <p class="text-center">&copy; Módulo 4 - Trabajo Práctico Final - by Víctor Francisco Ramirez Diaz - 2026</p>
        <p>Enlace a repositorio: <a href="https://github.com/VicRamD/sound-zone-api-sp5">https://github.com/VicRamD/tp_final_sprint5_mod3</a></p>
    </div>
</footer>